node_modules
.DS_Store
dist
dist-ssr
*.local
count.txt
.env
.nitro
.tanstack
.wrangler
.output
.vinxi
worker-configuration.d.ts
_
package-lock.json
pnpm-lock.yaml
yarn.lock

logs

_tempo_docs
_scripts
_docs
*.backup
*.bak